@model IEnumerable<LoginSec.Models.Good_Allocation>

@{
    ViewData["PageTitle"] = "GoodsAllocations";
   
}

<div class="row">
    <div class="col-md-12">
        <ejs-grid id="goodsAllocations" dataSource="@Model" gridLines="None"
        allowSorting="true">
            <e-grid-columns>
                <e-grid-column headerText="GoodsId" field="GoodsId"  width="210px"></e-grid-column>
                <e-grid-column headerText="Disaster" field="DisasterTitle"></e-grid-column>
                <e-grid-column headerText="No.of Items" field="NumItems"></e-grid-column>
                <e-grid-column headerText="Date" field="Date" width="110px" type="date" format="MMM-dd-yy" 
                textAlign="Left"></e-grid-column>
           </e-grid-columns>
        </ejs-grid>
    </div>
</div>